/*===================================================
Font
===================================================*/
@font-face {
    font-family: 'Univers-Light-Normal';
    src: url('Univers-Light-Normal.eot');
    src: url('Univers-Light-Normal.eot?#iefix') format('embedded-opentype'),
        url('Univers-Light-Normal.woff2') format('woff2'),
        url('Univers-Light-Normal.woff') format('woff'),
        url('Univers-Light-Normal.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}




/*===================================================
Base CSS
===================================================*/

* {
    box-sizing: border-box;
}
body {
    font-size: 1em;
    font-family: "Univers-Light-Normal";
    color: black;
    background-color: #e6e6e9;
    margin: 0;
}
p {
    line-height: 1.5em;
    margin-bottom: 1em;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.441em;
}

h2 {font-size: 1.953em;}

h3 {font-size: 1.563em;}

h4 {font-size: 1.25em;}

.container{
	width: 90%;
	display:flex;
	margin:auto;
	position: relative;
	flex-wrap: wrap;
}


/*===================================================
Nav
===================================================*/
nav{
	background-color: white;
	width: 100%;
	height: 3.750em;
}
nav .container section {
    width: 20%;
    padding: 1.2em 0em;
    max-height: 3.75em;
}
nav .container section a h1 {
    display: none;
}
nav .container ul {
    margin: 0;
    padding: 0;
    width: 80%;
    max-height: 3.75em;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav .container ul li{
	padding: 0.5em;
	display: flex;
}
nav .container ul li a span,
nav .container ul li form {
    display: none;
}

@media only screen and (min-width: 48em)  {
	nav .container section a h1 {
    display: flex;
    color:#003082;
    margin: -0.1em 0.5em;
 }
	nav .container section a  {
    text-decoration: none;
    display: flex;
    font-size: 0.7em;
	}
	nav .container section{
		display: flex;
	}

	nav .container ul li a span,
	nav .container ul li form {
    	display: flex;
	}
	nav .container ul li:last-of-type a span {
    position: relative;
    top: 0.4em;
	}	
	nav .container ul li a {
    	display: flex;
    	text-decoration: none;
    	color:#003082;
	}
	nav .container ul li form{
		top:1em;
	}
	nav .container ul li form label {
	    display: none;
	}

	nav .container ul li form input {
		box-shadow: none;
		border: none;
		border-bottom: 1px solid #003082;
	}
	
}



/*===================================================
Main
===================================================*/
main{
	display: flex;
	justify-content: center;
	align-items:  center;
	padding: 4em 0em;
}

main div.container section  {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	background-color: white;
	padding: 1em;
}
	@media only screen and (min-width: 26.250em)  {
		main div.container section  {
			width: 100%;
			max-width: 26em;
			margin:auto;
		}
	}
	@media only screen and (min-width: 54em)  {
		main div.container section  {
			max-width: 60em;
			padding: 3em;
		}
	}

main h2{
	color:#003082;
	padding-top:1em;
	margin: 0;
}

 main div.container section ul{
	list-style: none;
	padding: 0 0 1em 0;
}
main div.container section a{
	background-color:#0079d3;
	color:white;
	padding: 0.5em 1em;
	text-decoration: none;
	border-bottom: #003082 solid 0.25em;
}
main section ul li:before {
    font-family: Ionicons;
    content: '\f3fd';
    padding-right: 0.5em;
    font-size: 2em;
    position: relative;
    color: green;
    top: 0.2em;
}
main div.container section form a {
    display: inline-block;
}
main div.container section a:hover > i {
    left: 0.2em;
    transition: all ease-in-out .2s;
}

main div.container section a i {
    padding-left: 0.5em;
    padding-right: 0.5em;
    position: relative;
    transition: all .2s ease-in-out;
    left: 0;
    top: 0.075em;
}
/*===================================================
section met formulier
===================================================*/
section.login article{
	width:100%;
}
	@media only screen and (min-width: 54em)  {
		section.login article{
			width:50%;
		}
	}


section.login h2{
	padding-bottom: 1em;
	padding-top:0;
	margin:0;
	width: 100%;
}
section.login article h2 {
    padding: 0;
}
section.login article:first-of-type {
    background: #f4c015;
    padding: 2em 0em;
}
	@media only screen and (min-width: 54em)  {
		section.login article:last-of-type {
		    padding: 0em 2em;
		}
	}

section.login article {
	padding:0.5em;
}
fieldset{
	border:none;
	padding: 1em;
}
legend{
	font-size: 1em;
	color: #003082;
	padding-top: 1em;
}
input {
	width: 100%;
	padding: 1em 1em;
    margin: 1em 0;
    box-sizing: border-box;
}

input[type=email] {
    border: none;
    outline: none;
}

input[type=email]:focus {
    border: 0.1em dotted ;
}
input[type=email]:valid { 
    background-color: lightgreen;
}

input[type=password] {
    border: none;
    outline: none;

}
input[type=password]:valid {
    background-color: lightgreen;

}
input[type=password]:focus {
    border: 0.1em dotted ;

}
article form fieldset a:nth-of-type(1){
	background-color:#0079d3;
	color:white;
	padding: 0.5em 1em;
	text-decoration: none;
	border-bottom: #003082 solid 0.25em;
}
article form fieldset a:nth-of-type(2){
	background-color:transparent;
	color:#0079d3;
	border-bottom: 0;
	font-size: 0.75em;
}


/*===================================================
Footer
===================================================*/
footer{
	background-color: white;
	font-size: 1em;
	margin-top: 1em;
	padding: 1em 1em 1em 1em;

}