/*===================================================
Font
===================================================*/
@font-face {
    font-family: 'Univers-Light-Normal';
    src: url('Univers-Light-Normal.eot');
    src: url('Univers-Light-Normal.eot?#iefix') format('embedded-opentype'),
        url('Univers-Light-Normal.woff2') format('woff2'),
        url('Univers-Light-Normal.woff') format('woff'),
        url('Univers-Light-Normal.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}




/*===================================================
Base CSS
===================================================*/

* {
    box-sizing: border-box;
}
body {
    font-size: 1em;
    font-family: "Univers-Light-Normal";
    color: black;
    background-color: #e6e6e9;
    margin: 0;
}
p {
    line-height: 1.5em;
    margin-bottom: 1em;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.441em;
}

h2 {font-size: 1.953em;}

h3 {font-size: 1.563em;}

h4 {font-size: 1.25em;}

.container{
	width: 90%;
	display:flex;
	margin:auto;
	position: relative;
	flex-wrap: wrap;
}

/*===================================================
Nav
===================================================*/
nav{
	background-color: white;
	width: 100%;
	height: 3.750em;
}
nav .container section {
    width: 20%;
    padding: 1.2em 0em;
}
nav .container section a h1 {
    display: none;
}
nav .container ul {
    margin: 0;
    padding: 0;
    width: 80%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav .container ul li{
	padding: 0.5em;
}
nav .container ul li a img{
	
}
nav .container ul li a span,
nav .container ul li form {
    display: none;
}

/*===================================================
Main
===================================================*/
main{
	padding-top:1em;
}

main div.container article  {
	width: 100%;
	background-color: white;
	padding: 1em;
}

main h2{
	color:#005ca0;
	padding-top:1em;
	margin: 0;
}

 main div.container article ul{
	list-style: none;
	padding:0;

}
main div.container article a{
	background-color:#0079d3;
	color:white;
	padding:0.5em;
	text-decoration: none;
	border-bottom: #005ca0 solid 0.25em;
}

/*===================================================
section met formulier
===================================================*/

article form {
	background: #f4c015;
}
fieldset{
	border:none;
}
legend{
	font-size: 1em;
	color: #005ca0;
}
input {
	width: 100%;
	padding: 1em 1em;
    margin: 1em 0;
    box-sizing: border-box;
}

input[type=text] {
    border: none;
    outline: none;
}

input[type=text]:focus {
    border: 0.1em dotted ;
}

input[type=password] {
    border: none;
    outline: none;
}
input[type=password]:focus {
    border: 0.1em dotted ;
}


/*===================================================
Footer
===================================================*/
footer{
	background-color: white;
	font-size: 1em;
	margin-top: 1em;
	padding: 1em 1em 1em 1em;

}
