/*===================================================
Font
===================================================*/


@font-face {
    font-family: 'Univers-Light-Normal';
    src: url('Univers-Light-Normal.eot');
    src: url('Univers-Light-Normal.eot?#iefix') format('embedded-opentype'),
        url('Univers-Light-Normal.woff2') format('woff2'),
        url('Univers-Light-Normal.woff') format('woff'),
        url('Univers-Light-Normal.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/*===================================================
Base CSS
===================================================*/
* {
    box-sizing: border-box;
}
body {
    font-size: 1em;
    font-family: "Univers-Light-Normal";
    color: black;
    background-color: #e6e6e9;
    padding:0;
    margin:0;
}
p {
    line-height: 1.5em;
    margin-bottom: 1em;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  color:#005ca0;
}

h1 {
  margin-top: 0;
  font-size: 2.441em;
}

h2 {font-size: 1.953em;}

h3 {font-size: 1.563em;}

h4 {font-size: 1.25em;}

.container{
	width: 90%;
	display:flex;
	margin:auto;
	position: relative;
	flex-wrap: wrap;
}

	@media only screen and (min-width: 48em)  {
		.container{
			width: 90%;
			max-width: 50em;
		}
	}
	@media only screen and (min-width: 60em)  {
		.container{
			width: 90%;
			max-width: 90em;
		}
	}
.container.up {
	position: relative;
	top: -5em;
	z-index: 5;
}



/*===================================================
Nav
===================================================*/
nav{
	background-color: white;
	width: 100%;
	height: 3.750em;
}
nav .container section {
    width: 20%;
    padding: 1.2em 0em;
    max-height: 3.75em;
}
nav .container section a h1 {
    display: none;
}
nav .container ul {
    margin: 0;
    padding: 0;
    width: 80%;
    max-height: 3.75em;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav .container ul li{
	padding: 0.5em;
	display: flex;
}
nav .container ul li a span,
nav .container ul li form {
    display: none;

}
@media only screen and (min-width: 48em)  {
	nav .container section a h1 {
    display: flex;
    color:#003082;
    margin: -0.1em 0.5em;
 }
	nav .container section a  {
    text-decoration: none;
    display: flex;
    font-size: 0.7em;
	}
	nav .container section{
		display: flex;
	}

	nav .container ul li a span,
	nav .container ul li form {
    	display: flex;
	}
	nav .container ul li:last-of-type a span {
    position: relative;
    top: 0.4em;
	}	
	nav .container ul li a {
    	display: flex;
    	text-decoration: none;
    	color:#003082;
	}
	nav .container ul li form{
		top:1em;
	}
	nav .container ul li form label {
	    display: none;
	}

	nav .container ul li form input {
		box-shadow: none;
		border: none;
		border-bottom: 1px solid #003082;
	}
	
}

/*===================================================
Verhalen
===================================================*/
main img.desktop1{
	display: none;
}
	@media only screen and (min-width: 70em){ 
			main img.desktop1{
				display: flex;
				width: 100%;
			}
		}
main img.desktop2{
	display: none;
}
	@media only screen and (min-width: 55em){ 
			main img.desktop2{
				display: flex;
				width: 100%;
			}
		}
	@media only screen and (min-width: 70em){ 
			main img.desktop2{
				display: none;
			}
		}
main img.tablet{
	display: none;
}
	@media only screen and (min-width: 48em){
		main img.tablet{
			display: flex;
			width: 100%;
		}
	}
	@media only screen and (min-width: 55em){ 
		main img.tablet{
			display: none;
		}
	}

main img.mobiel{
	width: 100%;
	display: block;
}
	@media only screen and (min-width: 48em){
		main img.mobiel{
			display: none;
		}
		
	}

/*===================================================
Footer
===================================================*/
footer{
	background-color: white;
	font-size: 1em;
	margin-top: 1em;
	padding: 1em 1em 1em 1em;

}







